<%- include('../layouts/header.ejs') %>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div
                    id="header-carousel"
                    class="carousel slide carousel-fade mb-30 mb-lg-0"
                    data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                     
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="/productImages/<%= bannerData[0].image[0] %>" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Gaming Laptops</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn"><%= bannerData[0].description[0] %></p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="/productImages/<%= bannerData[0].image[1] %>" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Gaming Laptops</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn"><%= bannerData[0].description[1] %></p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="/productImages/<%= bannerData[0].image[2] %>" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Gaming Laptops</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn"><%= bannerData[0].description[2] %></p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    <img
                        class="img-fluid"
                        src="https://www.zopic.in/wp-content/uploads/2022/08/zebronics-zeb-blitz-gaming-headphones-banner-zopic-7887.webp"
                        alt=""
                        style="background-size: cover;">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Zebronics Gaming headsets</h3>
                        <a href="/category_shop/?id=<%=categories[1]._id%>" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
                <div class="product-offer mb-30" style="height: 200px;">
                    <img
                        class="img-fluid"
                        src="https://m.media-amazon.com/images/S/aplus-media/vc/d10365d8-cadf-4a50-976e-922ed5325160.__CR0,0,970,300_PT0_SX970_V1___.jpg"
                        alt=""
                        style="background-size: cover;">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="/category_shop/?id=<%=categories[2]._id%>" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-dark mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-dark mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-dark mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-dark mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-transparent text-danger pr-3">Categories</span></h2>
        <div class="row px-xl-5 pb-3">
            <% if(categories.length>0){ 
            for(let i=0;i <categories.length; i++){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" href="">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid" src="/productImages/<%= categories[i].image %>" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <a href="/category_shop/?id=<%=categories[i]._id%>">
                                    <h6><%= categories[i].name %></h6>
                                </a>
                                <small class="text-body">(<%= productsnum[i]. number_of_product %>
                                    Products)</small>
                            </div>
                        </div>
                    </a>
                </div>

            <% } %>

        <%}else { %>
            <tr>
                <td colspan="5">Product not found</td>

            </tr>
        <% } %>

        <!-- Categories End -->

        <!-- Products Start -->
        <div class="container-fluid pt-5 pb-3">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
                <span class="bg-transparent text-danger pr-3">Featured Products</span></h2>
            <div class="row px-xl-5">

                <% if(featureproduct.length>0){
                for(let i=0;i<featureproduct.length;i++) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img
                                    style="height: 15rem;"
                                    class="img-fluid w-100"
                                    src="/productImages/<%= featureproduct[i].image[0] %>"
                                    alt="">
                                <div class="product-action">
                                    <a  onclick="addtocart('<%= featureproduct[i]._id %>')" class="btn btn-outline-dark btn-square">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a onclick="addtoWishlist('<%= featureproduct[i]._id %>')" class="btn btn-outline-dark btn-square">
                                        <i class="far fa-heart"></i>
                                    </a>
                                   
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="/detail/?id=<%=featureproduct[i]._id %>">
                                    <%= featureproduct[i].name %>
                                </a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>Rs <%= featureproduct[i].price %>
                                    </h5>
                                    <h6 class="text-muted ml-2">
                                        <del>Rs <%= featureproduct[i].grossprice %></del>
                                    </h6>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                <% } %>

            <%}else { %>
                <tr>
                    <td colspan="5">No products</td>

                </tr>
            <% } %>

        </div>
    </div>
    <!-- Products End -->

    <!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img
                        class="img-fluid"
                        src="https://static.wixstatic.com/media/8517ed_629555d2a650433185db5144904fcad8~mv2.png/v1/crop/x_0,y_1,w_2000,h_951/fill/w_1960,h_932,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Banner%2001.png"
                        alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img
                        class="img-fluid"
                        src="https://s3b.cashify.in/gpro/uploads/2022/06/27134446/Best-Gaming-Consoles-For-Every-Budget.jpg"
                        alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-transparent text-danger pr-3">Recent Products</span></h2>
        <div class="row px-xl-5">

            <% if(product_data.length>0){
                for(let i=0;i<product_data.length;i++) { %>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img
                                class="img-fluid w-100"
                                style="height: 15rem;"
                                src="/productImages/<%= product_data[i].image[0] %>"
                                alt="">
                            <div class="product-action">
                                <a onclick="addtocart('<%= product_data[i]._id %>')" class="btn btn-outline-dark btn-square">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a onclick="addtoWishlist('<%= product_data[i]._id %>')" class="btn btn-outline-dark btn-square">
                                    <i class="far fa-heart"></i>
                                </a>
                               
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="/detail/?id=<%=product_data[i]._id %>">
                                <%= product_data[i].name %>
                            </a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>Rs <%= product_data[i].price %>
                                </h5>
                                <h6 class="text-muted ml-2">
                                    <del>Rs <%= product_data[i].grossprice %></del>
                                </h6>
                            </div>
                        
                        </div>
                    </div>
                </div>
            <% } %>

        <%}else { %>
            <tr>
                <td colspan="5">No recent products</td>

            </tr>
        <% } %>

    </div>
</div>
<!-- Products End -->

<!-- Vendor Start -->
<!-- <div class="container-fluid py-5"> <div class="row px-xl-5"> <div
class="col"> <div class="owl-carousel vendor-carousel"> <div class="bg-light
p-4"> <img src="/vendor-1.jpg" alt=""> </div> <div class="bg-light p-4"> <img
src="/vendor-2.jpg" alt=""> </div> <div class="bg-light p-4"> <img
src="/vendor-3.jpg" alt=""> </div> <div class="bg-light p-4"> <img
src="/vendor-4.jpg" alt=""> </div> <div class="bg-light p-4"> <img
src="/vendor-5.jpg" alt=""> </div> <div class="bg-light p-4"> <img
src="/vendor-6.jpg" alt=""> </div> <div class="bg-light p-4"> <img
src="/vendor-7.jpg" alt=""> </div> <div class="bg-light p-4"> <img
src="/vendor-8.jpg" alt=""> </div> </div> </div> </div> </div> -->
<!-- Vendor End -->

<!-- Footer Start -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
   function addtocart(proId) {
        event.preventDefault()
        $.ajax({
            url: `/add-cart/${proId}`,
            method: "get",
            success: function (response) {

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                if (response.success == true) {
                    Toast.fire({ icon: 'success', title: "Item added to cart" })
                    setTimeout(() => {
                        window.location.href = "/home"

                    }, 3000);
                } else if (response.success == false) {
                    Toast.fire({ icon: 'error', title: "Product is out of stock" })
                } else if (response.message) {
                    Toast.fire({ icon: 'success', title: "Product added again" })
                    setTimeout(() => {
                        window.location.href = "/home"

                    }, 3000);

                } else if (response.message2) {
                    Toast.fire({ icon: 'error', title: response.message2 })
                    setTimeout(() => {
                        window.location.href = "/home"

                    }, 3000);

                }

            }
        })

    }

    function addtoWishlist(proId) {
            event.preventDefault()
            $.ajax({
                url: `/add-wishlist/${proId}`,
                method: "get",
                success: function (response) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    if (response.success == true) {
                        Toast.fire({ icon: 'success', title: "Item added to Wishllist" })
                        setTimeout(() => {
                            window.location.href = "/home"

                        }, 3000);
                    } else if (response.message1) {
                        Toast.fire({ icon: 'success', title: response.message1 })
                        setTimeout(() => {
                            window.location.href = "/home"

                        }, 3000);

                    } else if (response.message2) {
                        Toast.fire({ icon: 'error', title: response.message2 })
                        setTimeout(() => {
                            window.location.href = "/home"

                        }, 3000);

                    }

                }
            })

        }
    </script>
<%- include('../layouts/footer.ejs') %>